.table-icon {
  padding: 15px;
}

.table-container {
  margin: 30px;
  width: 700px;
}

.left {
  width: 780px;
  position: absolute;
  top: 0;
  bottom: 0;
  float: left;
  min-height: 500px;
  overflow: auto;
  border: 1px solid #cecece;
  border-top: none;
  background: white;
  h1 {
    margin: 30px;
  }
}

.right {
  float: right;
  position: relative;
  width: 278px;
  padding: 30px;
  background-color: #fdfdfd;
}

.add-patient {
  margin: 30px auto;
  width: 110px;
  padding: 10px;
}

.sorting {
  h2 {
    text-align: center;
    margin: 30px
  }

  .auth-btn {
    display: inline-block;
    width: 86px;
    padding: 10px 0px;
    height: 15px;
    line-height: 15px;
  }
}
