// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.insulin_settings {
  text-transform: uppercase;
  font-weight: bold;
}

.info {
  text-align: center;
}

.avatar {
  text-align: center;
}

.checkbox {
  height: 12px;
}

.at-risk {
  background: #ff6a6a;
  color: white;
}

#readings_chart {
  height: 400px;
  width: 700px;
  margin: 40px auto;
}
