// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.insulin_settings {
  text-transform: uppercase;
  font-weight: bold;
}

.horiz-divider {
  width: 280px;
  height: 1px;
  background: #cecece;
  text-align: center;
}

.info {
  text-align: center;
}

.avatar {
  text-align: center;
}