.auth-btn {
  background: white;
  border: 2px solid #dd4c4c;
  color: #dd4c4c;
  display: block;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  width: 100px;
  margin: 0 auto;
  &:hover {
    cursor: pointer;
    color: darken(#dd4c4c, 20%);
  }
}

.light-header {
  font-weight: 300;
  font-size: 40px;
}

.subheader {
  font-weight: 600;
  padding-bottom: 15px;
}

form {
  padding-bottom: 10px;
}
